[2017-08-22 16:06] bretterer opened #4 "Validate Aud claim"

[2017-08-22 16:06] bretterer opened #5 "Validate Nonce"

[2017-09-05 14:45] bretterer opened #6 "Autodiscover jwt libraries"
We should be able to auto-discover supported JWT libraries so the user does not have to include it in the setup

[2017-09-05 16:04] #6 closed

[2017-09-11 17:40] #4 closed

[2017-09-11 17:40] #5 closed

[2018-07-10 17:36] prembaranwal opened #14 "verify function is terminating the further code execution if token expired"
On validating okta jwt token with
$jwt = $jwtVerifier->verify($jwt);
It is terminating the further code execution if token is expired. Is it possible to handle it if token is expired and accordingly can execute some code (like redirect to login) ? Something like this I need after calling verify function:
$jwt = $jwtVerifier->verify($jwt);
if($jwt) {
----success code----
} else { //If token expires

[2018-07-11 06:53] #14 closed

[2018-07-11 06:54] prembaranwal commented on #14
It can be handled using try catch

[2018-08-14 15:14] palminha opened #15 "Missing exception when supported JWT library not found"
If we use a supported JWT library (spomky-labs/jose and firebase/php-jwt) but those libraries are not installed with composer the program breaks silently.

It should throw an exception claiming something like "spomky-labs/jose library not found"

[2018-08-15 14:50] bretterer commented on #15
This is listed in the readme of the library

[code]

We purposely do not automatically install one for you via composer because we don't want to make the choice for you.

[2018-08-16 14:58] bretterer commented on #15
@heyjones it requires one of the libraries, as the readme states.  there are many different ones that work with it so you need to also include one that you want to use

[2018-08-16 15:03] palminha commented on #15
That's the point of my suggestion. If someone forgot to install or missed
installed, it should not be silent. Some kind of exception would be very
helpful

A quinta, 16/08/2018, 15:59, Brian Retterer <notifications@github.com>
escreveu:

[2018-08-16 15:06] bretterer commented on #15
I will look at what we can do to improve this

[2018-08-16 15:09] palminha commented on #15
Thanks!

A quinta, 16/08/2018, 16:08, Brian Retterer <notifications@github.com>
escreveu:

[2018-08-20 17:31] palminha opened #17 ""kid" empty, unable to lookup correct key"
I have the current setup with OKTA:
- My own Android APP is registered as a native App
- I can use my APP to login using OpenID with OKTA. I can get some profile info etc...
- This APP will call an API deployed on the cloud that i want to protect using "API Management"
- I just registered a new Authorization server in OKTA and i'm using okta-jwt-verifier-php to try to check if the APP request to t

[2018-08-20 17:38] palminha commented on #17
i'm getting the same error if using the default Authorization server and using okta-jwt-verifier-php following the usage guidelines

[2018-08-21 20:46] devicenull opened #18 "Unable to verify nonce"
If I use JwtVerifierBuilder::setNonce to provide a notice, I get a warning:

    Undefined index: nonce in vendor/okta/jwt-verifier/src/JwtVerifier.php on line 112

It looks like Okta doesn't actually pass the nonce through when using the code based authentication flow, since 'nonce' doesn't show up in JwtVerifier::getClaims()

[2018-08-21 20:50] bretterer commented on #18
Thank you for the report.  I will get this into our flow to take a look at shortly

[2018-08-29 14:28] laharshah opened #19 "Undefined property: stdClass::$jwks_uri"
Everything was working fine with the developer console. Getting error when switch it to the production org account.

Started getting the error after switching to `xxx.okta.com` from `xxx.oktapreview.com`

I tried to change issuer from 'https://xxx.oktapreview.com/oauth2/default' to 'https://xxx.okta.com'

Exception trance:

[code]

[2018-09-04 15:55] laharshah commented on #19
@bretterer ,
Thank you for your response.
No I changed the issuer to xxx.okta.com as xxx.okta.com/oauth2/default wasn't working.

There is a page called authorization server in developer console. But it is not there on production admin account.
Do I need to manually add/create the Authorization server to make this work on production?

Here are some more details on different errors:

Here is the ph

[2018-09-05 21:39] nbarbettini opened #23 "Library configuration checks"
To help avoid misconfiguration, this library should implement these checks against common errors: https://oktawiki.atlassian.net/wiki/spaces/PM/pages/552049922/Library+configuration+checks

For this library, these checks apply:

- [x] Issuer
- [x] Client ID

Additionally, make sure these placeholders are always used in documentation or samples:

- [x] `https://{yourOktaDomain}` (not `{yourOktaDoma

[2018-09-07 13:43] laharshah commented on #19
@bretterer

When I tried to access xxx.okta.com/admin/oath2/as page I got 403 - Access Forbidden.

I leared,
This library works fine on oktapreview as the feature is available in developer console. But on production we need to purchase the [API Access Management](https://www.okta.com/pricing/#it-api-access-management).

I didnot know that the library requires to have API Access Management on produ

[2018-09-07 13:43] #19 closed

[2018-09-12 15:07] nbarbettini commented on #17
Hey @palminha, did you make any progress on this?

Your setup makes sense. I'm curious to see your code, both on the Android side and the PHP side. Are you sure both the client and the server are using the same Authorization Server?

[2018-10-06 21:04] palminha commented on #17
i was doing something wrong i think.
After tweaking the code it started working. :)

[2018-10-16 10:17] DeepDiver1975 opened #24 "Support PS256 ?"
It looks like that only RS256 is supported - https://github.com/okta/okta-jwt-verifier-php/blob/1cef6069221c31607806b54b7d36bd610aecaa13/src/Adaptors/SpomkyLabsJose.php#L36

Would it be possible to support other algorithms as well - specifically PS256?

[2018-10-16 18:46] bretterer commented on #24
Hello @DeepDiver1975, Currently this library is set up for Okta tokens. We only allow RS256 by design as this is the only key type that we use. There is some re-work of our jwt verifier libraries coming in the future and I can bring this up with the team.

[2018-11-09 09:46] 0GiS0 opened #25 "Http\Discovery\Exception\PuliUnavailableException: Puli Factory is not available"
Hi! I followed this article https://developer.okta.com/blog/2018/08/23/symfony-react-php-crud-app where he uses this plugin but I have an issue when I include the authentication fragment on my code:

[code]
I get this error when It setups the JWT verifier:

**Exception has occurred.
Http\Discovery\Exception\PuliUnavailableException: Puli Factory is not available**

BTW I'm using Symfony 4...

any

[2018-11-09 19:35] bretterer commented on #25
This is not an error coming from our library here.  It would appear that you do not have everything you need installed through composer.  I would check that all the dependencies you need for your project are indeed included and installed

[2018-12-15 01:52] aaronpk opened #26 "Support Carbon version 2"
Currently if you install the latest version of Carbon, you are unable to install this library:

[code]

[2019-01-15 23:33] rlbaxter opened #27 "Package spomky-labs/jose is abandoned"
I get the following message when attempting to follow the documentation.

`Package spomky-labs/jose is abandoned, you should avoid using it. Use web-token/jwt-framework instead.`

The examples should probably be updated to recommend the firebase library, web-token library, or some other library that is not abandoned.

[2019-03-13 08:28] red-ab opened #28 "Update to Carbon 2"
Currently, the package relies on Carbon 1.22. Do you plan to integrate support for Carbon 2?

[2019-03-18 09:08] #28 closed

[2019-03-28 16:38] mattrmason commented on #26
Second this attempting to install on Laravel 5.8.8 per this blog post [https://developer.okta.com/blog/2019/01/15/crud-app-laravel-vue](url)

    - Installation request for okta/jwt-verifier ^0.2.1 -> satisfiable by okta/jwt-verifier[0.2.1].
    - Conclusion: remove nesbot/carbon 2.16.1
    - Conclusion: don't install nesbot/carbon 2.16.1
    - okta/jwt-verifier 0.2.1 requires nesbot/carbon ^1.22

[2019-04-23 04:18] JustinLawrenceMS commented on #26
The only fix I've found is to alias the nesbot/carbon version in composer.json.

"nesbot/carbon": "2.17.0 as 1.22"

[2019-04-23 14:40] mattrmason commented on #26
Indeed this worked.   I was able to
`composer require nesbot/carbon:"2.17.0 as 1.22"`
and then install this package without the above errors.

[2019-05-17 10:37] munir131 commented on #27
@bretterer Any plan for this? It is important.
![image](https://user-images.githubusercontent.com/6319375/57922614-c3c30200-78bd-11e9-8fdd-242b7e4ac5e6.png)

[2019-05-18 21:52] Vardkin commented on #26
Same here when attempting to install on Laravel 5.8.15.
Was able to `composer require nesbot/carbon:"2.18.0 as 1.22"` and then `composer require okta/jwt-verifier`

Thank you @JustinLawrenceMS and @mattrmason for the temporary fix.

[2019-05-18 22:18] Vardkin commented on #27
@munir131 until they address this you can just use:

`composer require firebase/php-jwt`

and set this class as the adapter.

[code]
Unless you want to write a new adapter for the JWT framework and submit a PR :+1:

[2019-05-20 21:04] rlbaxter commented on #27
I created a [pull request](https://github.com/okta/okta-jwt-verifier-php/pull/29) to update the documentation to show using the firebase library as the main example. I've never actually contributed on a project like this before, so please let me know if I did something wrong.

[2019-05-21 07:34] munir131 commented on #27
I think they should merge https://github.com/okta/okta-jwt-verifier-php/pull/22 It is a proper solution using jwt framework. Also fine to use Firebase too. Looks like they are not maintaining this package now, which is disappointed.

[2019-06-07 15:48] robertjd commented on #27
Thanks everyone for the feedback. We'll take  a look at this when we can.  Since this is a dev dependency this is lower prio for us.  Though I can certainly empathize with the warnings on dev dependencies, those are annoying 😭

[2019-06-19 11:29] aaronpk commented on #25
It looks like this error is being thrown by the `php-http` discovery library which this library uses. It's not clear to me why Puli is being used though.

[2019-06-28 10:18] zoltanpeto opened #30 "Package improvements"
Hey guys,

I'm working on implementing a REST API secured by an Okta Authorization server. Although this package provides everything I need for development, I think I'll face some issues when it comes to production usage. My concerns are the following:

1. JWK usage: the package currently loads the JWKs via each `Adaptor` implementation. This is not only a duplication of concerns (both existing ad

[2019-08-04 12:04] Av1shay opened #31 "$jwtVerifier->metaData is null"
Hi
When I try to run the following code:

[code]

`$jwtVerifier->metaData` is null, and I have no idea why.

When I try to run like in the example with `/default`:
`$url = config('app.okta_base_url') . '/oauth2/default';`

metaData is not null, but I get errorCode "E0000015" and errorSummary: "You do not have permission to access the feature you are requesting", I've been told that specifically in

[2019-08-05 15:36] bretterer commented on #31
It sounds like your org may not have a `/default` authorization server.   are you sure you have access to an authorization server  of `/default`?

You can check at `https://{yourOktaOrg}}-admin.oktapreview.com/admin/oauth2/as`

[2019-08-06 12:47] elmacho777 opened #32 "JWT verifier shows Invalid URL."
Hi, I am using the SpomkyLabsJose for the token verification and the connection parameters are exactly the same provided by the client. But it is showing
**Invalid URL.
200**

We are using OIDC for the SSO.

Is it an issue with the authorization server? My code is pasted below

[code]

[2019-08-13 14:25] LarBearrr commented on #17
@palminha Can you share your working code? I am getting the same issue when using `firebase/php-jwt`

[2019-08-13 14:37] LarBearrr opened #33 "Unabled to use provided adaptors"
I have followed the setup instructions and have a basic PHP backend to verify the JWT token issued from one of our mobile applications. Neither the SpomkyLabsJose provider or Firebase provider are working:
[code]
is producing this error:

`filter_var(): explicit use of FILTER_FLAG_SCHEME_REQUIRED and FILTER_FLAG_HOST_REQUIRED is deprecated`

Switching to the Firebase adaptor produces:
`"kid" inval

[2019-08-13 14:43] GinoPane opened #34 "PHP 5.6 support"
Hi!
Are there any PHP 5.6 ports of this library already? We need to add it into a legacy project which is not migrated to PHP 7 yet.

[2019-08-14 15:28] palminha commented on #17
Hi Larry,

This was related with the server in use.
You need to use a custom server.

Regards,
Carlos Palminha

On Tue, Aug 13, 2019 at 3:25 PM Larry Barker <notifications@github.com>
wrote:

[2019-08-14 17:55] LarBearrr commented on #17
Hey Carlos,

Thanks for the reply. What do you mean by “use a custom server?” Also, in your original comment you said you “tweaked the code” which made me think the docs are missing instructions to get this working?

Could you please clarify when you’re able.

Thanks again,
Larry

From: Carlos Palminha <notifications@github.com>
Reply-To: okta/okta-jwt-verifier-php <reply@reply.github.com>
Date: W

[2019-08-28 19:40] PenguinTamer opened #35 "Installation trouble w/ Carbon"
Upon running `composer require okta/jwt-verifier` i get this error. Any suggestions?
[code]

[2019-08-29 05:56] jakub-klapka commented on #35
For example Laravel switched to Carbon 2 some time ago. Thus using this package with Laravel requires some composer aliasing magic or forking the repo. I can send PR, but it's really just updating carbon version in dependencies... I believe, that Carbon API didn't change that much and I'm using it with Carbon 2 for some time without problems now.

[2019-08-29 13:39] PenguinTamer commented on #35
Im using Laravel and developing a RESTful API

[2019-08-29 18:00] bretterer commented on #35
A fix you can do until we can get a release of this is to fork this repo, and update carbon to use the newest version.  I believe no changes will be required for this upgrade, even though it is a major version rev.

[2019-08-29 20:33] sleekuser commented on #33
Were you able to get any help on this issue?

[2019-08-29 20:45] sleekuser commented on #33
@LarBearrr I was able to fix the issue eventually. The mobile issuer didn't match "exactly" with the URI in this library. For eg. In mobile application I had issuer as "http://{organization}.oktapreview.com" while was I using "http://{organization}.oktapreview.com/oauth2/default" in the PHP code. The issuer gets embedded in the JWT and that's what causing an issue for me.

[2019-08-29 21:28] LarBearrr commented on #33
@sleekuser Yeah so it turned out to be similar. There were a couple of issues. First, we were using the {orgUrl} in the mobile app as the issuer instead of https://{orgUrl}/oauth2/default, which was causing the `kid` to not match. Once we figured that out, we started getting errors about the sub claim being invalid. Working with Okta support and a bit of research revealed that the username attribu

[2019-08-29 21:28] #33 closed

[2019-09-02 14:46] kezek commented on #35
+1.

The Okta PHP SDK also requires nesbot/carbon ^2.0.

[2019-09-03 20:07] bretterer commented on #35
Yes, we just updated dependencies in the PHP SDK, but have not done so with current libraries.

I am not sure when we will be able to address this, but am open to PR's to handle it if you would like to contribute!

[2019-09-16 22:45] danielzev commented on #35
FYI, I forked the repo and updated the dependency:

https://github.com/portfolium/okta-jwt-verifier-php

https://github.com/portfolium/okta-jwt-verifier-php/commit/7849581f91b3e5ed29a1318a4c104060f1891997

All tests pass and it seems to work good!

I'll work on submitting a PR later this week to this main repo with the set PR steps.

[2019-10-29 17:11] bretterer commented on #24
Hi @DeepDiver1975 - As this is an Okta specific library to validate our minted tokens, we are only supporting RS256 at this time.  I appreciate your feedback on this.  If this is causing you any issues with Okta minted tokens, please feel free to create a new issue of what problems you are running into.

[2019-10-29 17:11] #24 closed

[2019-10-29 17:13] bretterer commented on #25
Circling back to this, is this still an issue for you?

[2019-10-29 17:14] bretterer commented on #26
internal-ref: OKTA-258479

[2019-10-29 17:15] bretterer commented on #27
internal-ref: OKTA-258479

[2019-10-29 17:23] bretterer commented on #30
Hi @zoltanpeto - Thank you for your feedback here.  We are always open to improvements of this library from the community and these sounds like they could be useful. We do have a list of claims that we need to be aware of and verify them which is why CID is always verified.  We do have a ticket to update the verifier to allow for multiple CID's on our backlog to address.  If you have an implementa

[2019-10-29 17:23] bretterer commented on #31
Closing as stale, If you have any issues still, please feel free to open a new issue

[2019-10-29 17:23] #31 closed

[2019-10-29 17:27] bretterer commented on #34
@GinoPane There are no PHP ports fo 5.6 that are supported by Okta. We chose to not support anything below current version of PHP for security reasons.

[2019-10-29 17:27] #34 closed

[2019-10-29 17:28] bretterer commented on #35
Internal-ref: OKTA-258479

[2020-01-23 15:31] #27 closed

[2020-02-13 04:06] LarryBarker opened #40 "Unable to lookup correct "kid""
Running into issues verifying JWT in a Laravel app again. This time, we are trying to verify the token as issued from Okta in our Laravel web app. I've followed a couple of tutorials from Okta ([https://developer.okta.com/blog/2019/01/15/crud-app-laravel-vue](https://developer.okta.com/blog/2019/01/15/crud-app-laravel-vue) and [https://developer.okta.com/blog/2019/09/05/laravel-authentication](htt

[2020-02-19 01:19] rjganesh commented on #40
Team,
Can you please have a look at this, I am also facing the same issue

[2020-02-19 16:06] cviebrock commented on #35
@danielzev Any chance you are still planning that PR?

@bretterer Any chance you can update this package so that the dependencies match those in `okta/sdk`?  Seems odd for these two to be out-of-sync for so long.

[2020-02-19 16:47] danielzev commented on #35
@cviebrock good callout! I think I just lost track of it. Let me work on that today

[2020-02-20 10:05] cwdt commented on #35
This would help us out as well, thanks!

[2020-03-06 14:10] DigitalManufacturingAMMS commented on #40
I am also having this issue, and its holding up the project I am on.

[2020-03-07 02:53] LarBearrr commented on #40
The issue is due to the fact that Okta has their own authorization server which is used anytime you authenticate with an Okta hosted sign in page. Okta does not make the keys to their authorization server available. You will need to use a custom authorization server.

[2020-03-17 18:06] #26 closed

[2020-03-17 18:06] #35 closed

[2020-03-18 01:01] danielzev commented on #35
This is great! Sorry I have no idea how this slipped my plate. It just got lost in the mix with all of the crazy stuff going on. When can we expect this to be released in a proper tagged version? Thanks all!

[2020-03-23 12:14] cwdt commented on #35
@bretterer when do you expect to release a new version? Thanks!

[2020-03-24 21:17] bretterer commented on #35
@cwdt I have a PR ready, but have some merge conflicts.   Now, Travis is not playing nice and reporting back (their outage from today still seems to be a problem even though they say its fixed).  Once they get that resolved, i will be able to resolve the conflicts and get a release merged.... for now, you can use the `dev-develop` flag for composer

[2020-04-08 18:15] furqanPSE opened #46 "Nonce does not match"
error message: Nonce does not match what is expected. Make sure to provide the nonce with `setNonce()` from the JwtVerifierBuilder.
please help to fix this issue.

[2020-05-22 13:22] fidan-mkdir opened #47 "php-http/httplug outdated dependency prevents composer require"
While trying to require `okta/jwt-verifier`, we get the following error:

`
Problem 1
    - Installation request for okta/jwt-verifier ^0.4.0 -> satisfiable by okta/jwt-verifier[0.4.0].
    - okta/jwt-verifier 0.4.0 requires php-http/httplug ^1.1 -> satisfiable by php-http/httplug[v1.1.0] but these conflict with your requirements or minimum-stability.
`

We are using php-http/httplug:^2.1.0 becaus

[2020-05-24 11:35] MattCCC commented on #46
It depends on auth type you perform, but if you don't need nonce validation you can call ->setNonce(null) which should skip this part

[2020-05-24 11:36] MattCCC commented on #18
Problem still persists in some cases. I believe it's caused when there's no nonce set using setNonce. To get rid of that Notice one could call:
`->setNonce(null)`

hope it helps 👍

[2020-05-29 15:17] makedirectory commented on #47
This commit fixes the issue by adding updated dependencies

https://github.com/makedirectory/okta-jwt-verifier-php/commit/636970bcaa30be9fa2a13289549effdad7e5bc62

[2020-07-16 08:03] rdkls commented on #32
I just had exactly the same issue. It happens if you're not paying for / using a customer auth server, as only custom auth servers metadata contain jwks_uri.

The problem is in JwtVerifier.php __construct
It retrieves metadata like so:
        $this->metaData = json_decode($request->setUrl($this->issuer.$this->discovery->getWellKnown())->get()->getBody());

And just assumes the response contains j

[2020-07-16 08:06] rdkls commented on #40
Pretty sure this is the same issue as https://github.com/okta/okta-jwt-verifier-php/issues/32

The default Okta (not your custom) auth server metadata response contains no `jwks_uri` element, yet the JWT verifier assumes it does

[2020-07-17 16:26] bretterer commented on #40
Internal Ref: OKTA-314097

[2020-07-17 16:26] bretterer commented on #32
Internal Ref: OKTA-314097

[2020-08-05 15:29] bretterer commented on #15
I am not sure what is seen here, but it seems that it does not silently fail if a library is not installed. If this is still an issue for you, could you please explain steps how to re-produce?

<img width="1368" alt="Screen Shot 2020-08-05 at 11 27 58 AM" src="https://user-images.githubusercontent.com/1906920/89432331-fc433b80-d70e-11ea-9935-605b81914bde.png">

[2020-08-05 16:58] #23 closed

[2020-08-07 18:42] bretterer commented on #32
@rdkls I have pushed an update to develop that will throw a Domain exception if there is no jwks_uri in the metadata.

#50

[2020-08-07 18:42] #32 closed

[2020-08-07 18:44] bretterer commented on #40
This appears to be the same issue as @rdkls has mentioned.

In PR #50 which has been merged into develop, we throw a domain exception if we can't find the jwks_uri from the metadata, which happens if you are using the Okta AS and not a custom authorization server.

I am going to close this as resolved, but if you feel this is not the case feel free to respond here or open a new issue.

[2020-08-07 18:44] #40 closed

[2020-08-07 18:47] bretterer commented on #25
Closing this as inactive.  If you feel you still have this issue, please check back with us here or open a new issue.

One thing I would suggest, especially with our new version that will be released soon, is that your versions are fully updated in your composer.json file to make sure that all psr-7 standards are met.

[2020-08-07 18:47] #25 closed

[2020-08-07 18:51] bretterer commented on #47
We are in the process of updating this library and have updated all dependencies in PR #49.

This will be available in `dev-develop` or in v1 when we release it.

I am going to close this as resolved for now.  If you need further help, please reach back out or open a new issue.

[2020-08-07 18:51] #47 closed

[2020-08-07 18:56] bretterer commented on #46
Yes, if you are not using a nonce, I would use the `setNonce(null)` method to skip nonce validation, however I would suggest you have a nonce set up if at all possible.

[2020-08-07 18:56] #46 closed

[2020-08-07 19:04] bretterer commented on #18
You must pass a nonce to the package through `JwtVerifierBuilder` and the `->setNonce` method.  If you don't have a nonce, pass `null` to the method.

[2020-08-07 19:04] #18 closed

[2020-08-11 15:54] #15 closed

[2020-08-14 14:24] jarbey opened #51 "ClientID claim name"
Hi,

I'am sure it's not an issue, but i wonder why the claim for the "Client ID" is "cid" in _validateClientId_ method and not "client_id" like the JWT specification seems to describe ?

It would be nice to be abble to add the capacity in the JwtVerifierBuilder to define the claim name for ClientID (and of course adjust the _validateClientId_ method

_Source : https://www.iana.org/assignments/jwt/

[2020-08-14 15:00] bretterer commented on #51
I appreciate the report here.  Currently, this is not an issue with the verifier itself.  The access tokens that come back to you from Okta use `cid`. Since this library was designed to work with Okta first, we follow with what is provided to us for validation.

I will be addressing this feedback with the teams here at Okta and will report back after that discussion.

[2020-08-15 14:35] jarbey commented on #51
Thank you for your fast answer. I did not know how to report that so i put in issue but you are right that is not one !

Looking forward the result of your talk at Octa.

Thank you so much

[2020-08-17 15:11] bretterer commented on #51
@jarbey. After talking to the team, I wanted to respond with some details.

- Currently, the IETF for JWT Access tokens is in a draft state. See: https://tools.ietf.org/id/draft-bertocci-oauth-access-token-jwt-00.html
- The IETF  for JWT Access tokens did not exist in 2016 when Okta certified our OIDC compliant product.  See: https://www.okta.com/blog/2016/06/okta-embraces-openid-connect/
- When t

[2020-08-17 17:44] jarbey commented on #51
Thank you for your fast feedback. Really appreciate.
Does eht IETF link you gave me, is also valid for OIDC JWT token ?

It's not a blocking for us for the moment, so let's stick to your plan.

BY the way, if we need to, do you allow us to fork your repository (as open-source of course) ? (to be abble to use "cid" instead of "client_id")

Take care, and thank you for your amazing job at Okta

[2020-08-17 21:18] bretterer commented on #51
The link I gave works for JWT claims for access_token and id_token, more so access_token in regards to our conversation here.

We are always open to you forking the repo and making changes that you need. If you think those changes are helpful to others, we welcome PR's

[2020-08-27 22:35] rdegges opened #55 "No usage doc explanation"
The usage docs for this library are pretty blank. It currently just shows a code snippet with no explanation of what's going on. It'd be cool to get a read guide that explains what JWTs are, what this library does in more detail, and how to work with JWTs using this library.

[2020-09-03 15:44] bretterer commented on #55
@rdegges Does this resolve the issue here?   https://github.com/okta/okta-jwt-verifier-php/tree/update_readme

[2020-09-03 19:08] #55 closed

[2020-09-03 22:59] rdegges commented on #55
Great!!

[2020-09-15 13:30] DPflasterer opened #57 "Not compatible with authorization server"
Is there a reason this library is not compatible with the default authorization server?

It looks like the only difference is the "well known" address:
`https://${yourOktaDomain}/.well-known/openid-configuration`
vs
`https://${yourOktaDomain}/oauth2/${authServerId}/.well-known/openid-configuration`

Essentially, if not private it should use the `domain` and not the `issuer` to get the config and e

[2020-09-15 16:32] bretterer commented on #57
@DPflasterer Thank you for reporting this.  In theory, this would work, but there is issues with validating the tokens against our org authorization server.  There is the potential that you can get this working this way, but the intended use of the library was built around API Access Management.

I am going to play around with this for a little bit and see if I can get something working for you in

[2020-09-15 19:37] DPflasterer commented on #57
@bretterer Yes, I have tried that. It fails with a similar but different error. I have not had a chance to troubleshoot deeper than that.

[code]

[2020-09-27 19:43] rbro opened #58 "validating jwt from client credentials flow"
I am looking to validate a JWT issued by Okta for the Client Credentials flow.  Please let me know if this should be asked instead in the Okta dev forums.

I am building an API that many other systems will call for machine to machine communication.  Each system hits the same URL in the API.  From what I understand with the Client Credentials flow, each system will have a separate application in Ok

[2020-09-28 13:40] bretterer commented on #58
@rbro could you please respond with reproduction steps for getting your error.  I believe I know what is going on, but want to be sure by seeing your configuration and reproduction steps first.

[2020-09-29 03:28] rbro commented on #58
I was trying the below where dev.okta.com is my Okta URL:

[code]

Because cid was a claim in my JWT, I was getting the error "ClientId does not match what is expected".

I'm first more interested if this is the correct way to validate a JWT from the Client Credentials flow as again, I believe the client id will be different for each application, so there won't be a single client id to pass in set

[2020-09-29 14:05] bretterer commented on #58
Yes, That would be the correct way to do it. You do need to use `setClientId()` for this.

For the issue of different clientId's, we suggest that you dynamically build your jwt verifier as you go and place the clientId for the specific application at generation time of the verifier.

[2020-10-03 11:27] rbro commented on #58
Thanks - in my case, all the clients/applications connecting to the API are hitting the same URL, so when I validate the JWT, there are one of many possible ClientID's that the JWT may have.  Again because in the Client Credentials flow, each client is a separate application, so each gets a different ClientID.

[2020-10-05 17:44] bretterer commented on #58
@rbro unfortunately, there is no way to handle this in the current library.  We will look into adding this as an enhancement in a future release of this library.

[2020-10-13 13:02] ilgiznurgaliev opened #59 "Getting "DiscoveryFailedException" when trying to verify jwt."
Hi,

 I have followed the instruction and installed required packages. My composer.json looks like below:
[code]
I added the following code to my index.php:
[code]
This generates the following error:
[code]

Could someone please assist to solve this issue?

[2020-10-13 13:45] bretterer commented on #59
@ilgiznurgaliev Thanks for the report here.  It looks as though guzzle still has not released the new version of their library that includes the desired classes.

If you update your required dependency for guzzlehttp to be `"guzzlehttp/psr7": "dev-master#ad1de77a65b751d598ced37747bf4c17d457fbc9"`, this should fix the issue for you.

[2020-10-13 15:14] #59 closed

[2020-10-13 15:15] bretterer commented on #59
Glad that helped.  We were under the impression that guzzle would be updated shortly after our updates, but it seems they have not yet.  Once they update their package, this will no longer be needed.

If there is anything else you need, please let us know

[2020-11-17 10:31] ctrl-f5 opened #60 "improve `DiscoveryMethod` classes"
Currently these 3 classes make little sense, the abstract class defines property `$wellKnownUri` and its getter is calls `getWellKnown()`, and the subclasses override the property but add a new getter `GetWellKnownUri()`

Since the 2 implementations have the well-known hardcoded anyway, theres no need for variables. The abstract class can also be made concrete when we allow the `$wellKnown` to be

[2020-11-17 15:58] bretterer commented on #60
@ctrl-f5 Thank you for the issue report on this. I am going to need to look into this a bit to find why it was created the way it was first. I appreciate your work in your fork on this and in the PR's

[2020-11-17 23:15] adam-ut opened #63 "Nonce does not match what is expected"
Hi,

This client is great. Thanks for building it. The only part tripping me up is the nonce.

I'm using Okta ODIC. We're doing client side verification in a react app and I plan on passing the id_token to our API for validation and pass back a session token.

[code]

This results in:
`Nonce does not match what is expected. Make sure to provide the nonce with 'setNonce()' from the JwtVerifierBuild

[2020-11-18 22:03] bretterer commented on #63
Hi @adam-ut, I am happy to hear you are getting use out of this package and liking it.

We do require you to pass a nonce in to make sure the token is valid and not spoofed. This is a security feature for you. Unless I am misunderstanding what is expected here, you are trying to bypass the nonce check, which is not currently available.

Is this something that is common in your use case that you do

[2020-11-18 22:21] adam-ut commented on #63
Thanks for the response, @bretterer.

The workflow is:
1. React app starts up
2. React app validates user is logged in. If not, all authorization occurs at the client/js level.
3. React app sends request to API with current session id (not Okta JWT). If the session id doesn't exist, or is expired, it passes the Okta JWT to the API.
4. API looks for session id. If it doesn't exist, or it is expired

[2020-11-18 22:40] bretterer commented on #63
I believe this is working as design, but am interested in your adaptor that you created. If you wanted to submit a PR with it against this repo, I would be more than happy to take a look and possibly merge it in if it fits a use case that we don't cover, which it sounds like it may.

Let me know if this is something you would be interested in doing. if you do, please submit a CLA if you havent alr

[2020-11-19 15:41] adam-ut commented on #63
I don't think my code warrants a PR as it feels like my solution is very niche. However, if anyone else is interested, I'll add the answer here.

[code]

So, I extended the adapter and overrode the decode function.

Thank you again for your direction, @bretterer!

[2020-11-19 15:41] #63 closed

[2020-12-09 23:56] StummeJ opened #65 "Lax validation when parts are not specified"
There are a few places where the validation feels too strict.
1) Requiring an `clientId` is arbitrary when checking a token in an API and should be allowed to be skipped.
  - https://github.com/okta/okta-jwt-verifier-php/blob/develop/src/JwtVerifierBuilder.php#L174-L181

2) Even when not setting an audience the check still fails due to the token having an audience.  The engineer should be able to

[2020-12-10 20:33] bretterer commented on #65
Hi @StummeJ. Thanks for the report here.  Could you give me a little more information on what you are trying to do with these? As far as I can tell, the verifier is working this way as designed, however, I would love to hear your use case to see if we can find a solution to loosen up the restrictions here.

Would you be able to provide a code sample and use case for us to look into here?

[2021-02-10 13:56] pmxjason opened #66 "PHP 8 Support?"
Hello,

Is adding PHP8 support to this library on the roadmap? Lack of support is going to become a blocker on a number of our projects.

Any indication of when this can be expected would be much appreciated.

[2021-02-10 14:15] laura-rodriguez commented on #66
Hi @pmxjason,

Thank you for your question. I'll ask internally and give you an update when I have more details.

[2021-02-10 14:35] bretterer commented on #66
Hi @pmxjason, We have not currently done any compatibility work on adding PHP8 support for this repository. From a very high level review, it seems that there are only some packages that will need to be updated in order to allow for PHP8 to be used. Have you done any testing yourself to see if this will work out of the box? What findings have you found that are a blocker for your team so we can ma

[2021-02-11 08:18] pmxjason commented on #66
@bretterer I agree that it doesn't look like there is much work to make a PHP8 compatible version. My team hasn't spent any time attempting to update the package. We would still be blocked without an official version as our internal security review forbids homebrew/modified security and authentication libraries.

I might misunderstand. I thought our business was sold Okta in part due to the ease o

[2021-02-11 15:19] bretterer commented on #66
@pmxjason I'm sorry if it came across as us not doing the work. I was honestly just curious if you had done any on your end to help unblock you.

Please watch this ticket for updates soon on steps we will be taking to update this package as well as our management sdk for PHP8 support.

- Brian

[2021-02-12 10:17] pmxjason commented on #66
I may have misinterpreted your response. I got blocked on something else and had a quick attempt to get something running.

I forked the code base and made the following single change to the composer.json file.

[code]

I then pulled in my forked repo and ran:

[code]

This ran fine without error. Valid tokens worked, invalid tokens through an exception. I haven't run the tests.

[2021-02-16 21:06] bretterer commented on #66
@pmxjason Thank you for the information here. I will talk with our team to figure out when we can get this on our schedule to update.

[2021-02-24 20:23] jimhlad commented on #57
I am also running into the issues outlined by @DPflasterer .

@bretterer I was just curious if there are any additional steps we can take to resolve this issue?

[2021-02-24 21:54] s1rc opened #68 "Undefined index: cid"
When decoding the `id_token` there is an `aud` index in the payload but no `cid` index is present.

Setting `setClientId(null)` results in an exception saying it is required.

Is there perhaps an Okta config missing? The odd thing is that the `aud` key in the payload matches the Okta ClientId, not `api://default`.

[2021-02-25 04:17] bryanapellanes-okta commented on #68
@s1rc ,
Thanks for reaching out!  I will inquire internally to get you an answer to your question.

[2021-02-25 14:01] bretterer commented on #68
Hi @s1rc, Could you please provide reproduction code for your issue?  This would help in getting you a solution.

[2021-02-25 15:30] s1rc commented on #68
@bretterer of course.

So using this with the suggested audience:
[code]
Results in:
`Audience does not match what is expected. Make sure to provide the audience with `setAudience()` from the JwtVerifierBuilder.`

Since setting the audience as the clientID since that is what `aud` is representing in the `id_token` payload:
[code]
Results in:
`Undefined index: cid`

[2021-02-25 15:52] abonne01 commented on #68
hello,

I have the same issue. For OpenID token (not access token), cid check is not relevant for openid token.
Then it's not relevant in this case.

[code]
on function $this->validateClientId($claims); check is skiped if clientId is null.

But if we don't set it in builder, we rade this exception :
`Fatal error: Uncaught InvalidArgumentException: Your client ID is missing. You can copy it from th

[2021-02-25 15:53] bretterer commented on #68
I know this isn't really the answer you are looking for, but, Yes, this appears to be a bug. as you found, ID Tokens do not have a cid, making the cid check cause issues.  I will be updating this soon in order to give you a `validateAccessToken` and `validateIdToken` method, with the correct checks.

Please stay tuned to this ticket for updates.

[2021-02-25 16:13] abonne01 commented on #68
@s1rc

when you instanciate openid ticket, you must specify
`
->setDiscovery(new \Okta\JwtVerifier\Discovery\Oidc)
`

I saw on your example that you specified
`
->setDiscovery(new \Okta\JwtVerifier\Discovery\Oauth)
`

[2021-02-25 16:13] bretterer commented on #68
@s1rc and @abonne01,

I have put together a quick branch that may fix your issues.  for an ID token, just update your code to use `validateIdToken` with the same signature.

[2021-02-25 17:12] s1rc commented on #68
@bdemers amazing so far works using:
[code]

Thank you!

[2021-02-25 17:35] abonne01 commented on #68
@bdemers
thanks it worked as well.
waiting for a permanent correction to avoid composer erasing this on next update :)

[2021-02-25 17:56] bretterer commented on #68
@s1rc and @abonne01 I will get a release out by end of week, possibly today if schedule allows

Thank you!

[2021-02-25 18:53] s1rc commented on #68
Thank you @bretterer!

[2021-02-25 19:29] goalkeeper007 opened #69 "ClassInstantiationFailedException: Unexpected exception when instantiating class"
I am new to this module. I followed the installation instructions, installed firebase and psr7 dependencies along with the okta/okta-jwt-verifier-php module. I am getting this error, I went through open issues and could not find one. Please let me know how I can fix this or if a workaround exists. Really appreciate any help.

{"xdebug_message":"<tr><th align='left' bgcolor='#f57900' colspan=\"5\">

[2021-02-25 19:46] bretterer commented on #69
Hi @goalkeeper007.  From your error provided, it is a little hard to determine what is happening.

Can you expand your ticket here with some code samples that you have, with your issuer, as well as a full stacktrace?

[2021-02-25 20:05] goalkeeper007 commented on #69
Here is the code where it was failing
$jwtVerifier = (new \Okta\JwtVerifier\JwtVerifierBuilder())
            ->setAdaptor(new \Okta\JwtVerifier\Adaptors\FirebasePhpJwt)
            ->setIssuer($ISSUER)
            ->setAudience('api://default')
            ->setClientId($OAUTH2_CLIENT_ID)
            ->build();

where
$ISSUER = "https://dev-85466444.okta.com/oauth2/default"
$OAUTH2_CLIENT_ID = <m

[2021-02-25 20:05] #69 closed

[2021-02-25 21:49] bretterer commented on #69
Thank you @goalkeeper007 It sounds like guzzlehttp/psr7 still hasn't released their new version.  Their Psr17FactoryDiscovery is still only in a branch.  ref: https://github.com/okta/okta-jwt-verifier-php/issues/59#issuecomment-707749309

[2021-02-26 15:48] abonne01 commented on #68
thanks. If you could aldo add a comment in readme file for that, an example for open ID, it should be nice.

[2021-03-01 20:36] bretterer commented on #68
Sorry for the delay here, it is now released as 1.1.0

https://github.com/okta/okta-jwt-verifier-php/releases/tag/1.1.0

[2021-03-01 20:36] #68 closed

[2021-03-02 10:10] abonne01 opened #73 "OpenID KEY caching"
Hello,

I noticed that at each call of library, severall calls are made to get auth key.
1 wellknown to get jwks_uri
2 jwks URI to get keys.

Could you please check if we could put in cache these keys?

thanks

[2021-03-02 10:15] abonne01 opened #74 "JwtVerifierBuilder : checks"
Hello,

I saw some hardcoded string in JwtVerifierBuilder.php file.
When authentification object is checked, it's comparing with a "dummy" entry :

[code]

is it something wanted? this check in totally irrelevant.
Thanks

[2021-03-02 10:46] abonne01 commented on #32
Thanks.
What is process to update package list?
Still pointing to 1.0 here
https://packagist.org/packages/okta/jwt-verifier

thanks

[2021-03-02 13:32] bryanapellanes-okta commented on #73
@abonne01,
Thanks for reaching out! Our Php developers will review and respond here with an answer.

Thanks for using Okta!

[2021-03-02 13:36] bryanapellanes-okta commented on #74
@abonne01,
Thanks for reaching out! These appear to be our standard checks to ensure that your configuration does not contain default place holders.  I will follow up with our Php developers so they may add any additional relevant details.

Thanks for using Okta!

Thanks for using Okta!

[2021-03-02 14:32] bretterer commented on #74
Hi @abonne01,

These checks are correct as they are. We have them to help prevent `copy/paste` errors from documentation. In our documentation, we use these placeholders for things like issuer: `https://{yourOktaDomain}/oauth2/v1/default`. These checks are here to help you understand what may be happening.

A little background:

We've seen in user testing that it is too easy to

- Copy and paste t

[2021-03-02 14:32] #74 closed

[2021-03-02 14:39] bretterer commented on #73
@abonne01 It is correct that we are not currently caching these calls. There were some technical issues with doing this, by locking a user into a caching mechanism.  It is something we want to address in a future update with the library itself, however i am not sure when this will be slated for work.

In the mean time, if this is causing you an issue, you can provide your own Adaptor. The adaptor

[2021-03-03 22:47] lex0r opened #75 "validateClaims() called without type from verify()"
Hi, after reviewing the latest master I came to a conclusion that this call is not a valid one (the 2nd argument is missing):

https://github.com/okta/okta-jwt-verifier-php/blob/22a1c0aa9db68917c513cd6883bf3d74d5e5e3a4/src/JwtVerifier.php#L106

Is `verify()` now irrelevant?

[2021-03-03 23:17] bryanapellanes-okta commented on #75
@lex0r,
Thanks for reaching out!  I'll bring your question to the attention of our Php developers to get you an answer.

Thanks for using Okta!

[2021-03-04 00:49] bretterer commented on #75
@lex0r, you are absolutely correct.  I will push a fix in a few minutes.

You are correct though, I would suggest using verifyIdToken and verifyAccessToken instead of `verify()`

[2021-03-04 00:59] #75 closed

[2021-03-04 01:14] bretterer commented on #75
Thank you again for bringing this to our attention.  `verify` now works as it did before, and validates as an `accessToken`. Sorry for the introduced bug, we will look at how we can make sure this doesn't happen in the future.

You can download the newest version 1.1.1 from packagist

[2021-03-04 12:35] abonne01 commented on #73
Hi.

sure I can, but I would prefer keep library unmodified to follow potential update.

I will wait then. Thanks for anwser

[2021-03-04 16:37] bretterer commented on #73
The nice thing is we designed this package to allow for Adaptors to be used for customization. You can swap in your own adaptor and still get updates from the main codebase.

As mentioned, I am not sure when this will be slated for work to provide an adaptor with caching.

[2021-04-02 22:20] aaronpk opened #79 "PHP Fatal error: Uncaught Http\Discovery\Exception\DiscoveryFailedException: Could not find resource using any discovery strategy"
In a brand new install of this library, I am getting the following error:

[code]

In an empty folder, I ran:

[code]

Then created a file `test.php` containing:

[code]

When running `php test.php` I get the above error. I tried installing the mentioned libraries at the link in the error:

[code]

but still get the same errors.

I am running PHP 7.4.16

[2021-04-03 00:43] bryanapellanes-okta commented on #79
@aaronpk,
Thanks for bringing this to our attention!  I've added an item to our backlog for prioritization; our PHP developers will review and comment here when there's more to share.

[2021-04-07 11:41] serhiibuniak-okta commented on #79
@aaronpk To unblock you I can suggest installing the following libraries:
[code]
Please, let us know if it works for you. Meanwhile, we'll investigate what might be wrong.

[2021-04-07 19:45] aaronpk commented on #79
Thank you, adding these libraries works and that's enough to finish updating the blog post for now!

[2021-04-23 15:15] kblizeck commented on #63
@adam-ut I am having the same issues, and am trying to replicate your custom adaptor above. This is just used to replace the `setAdaptor` in the `jwtVerifier` call, correct?

[code]

[2021-06-16 13:07] duylaurent-tran commented on #66
Do you have any news when it will be compatible with version 8 of PHP?

[2021-06-17 06:09] jimkropa commented on #79
Same problem and workaround for me, PHP 7.4.20

[2021-06-19 18:52] jimkropa commented on #79
Was also able to replicate the problem and workaround on a different machine running PHP 7.2.34

[2021-07-21 08:22] lerayflorian commented on #66
Hi,
Given the delay, I'd say Okta isn't able to cope with pace of modern softwares. It still asks me to be on php 7.2...  (while 7.3 dates back to December 2018!!!). I'll thus probably be forced to drop Okta. May this post be some good piece of advice for people assessing Okta's relevance to their needs.
Florian

[2021-07-30 10:57] RikkiMasters commented on #73
I've made a custom adapter in Laravel for key caching.

[code]

The problem now is the other call it makes to wellknown which is built into the JwtVerifier.php constructor. Is there any way of caching this without changing the package itself? The call adds 300 - 600ms to my api requests in dev.

[2021-07-30 12:58] ctrl-f5 commented on #66
Can this be prioritized please? PHP8.1 is around the corner, 7.2 which is the min version currently in the package is already end of life.

And it seems like the code is basically compatible with 8, it just needs to be tested on that version and composer versions need to be aligned...

[2021-08-02 07:59] ctrl-f5 commented on #66
I have created an MR to add 8.0 and drop 7.2. I suggest tagging this as 2.0 and if people still want to use 7.2 they can still use the 1.x branch.

[2021-08-04 08:02] rahuls1071 opened #83 "OKTA SAML2 support"
Does this JWT verifier with OKTA SAML2 Authentication as well.

[2021-08-04 11:00] VitaliiTytarenko-okta commented on #83
Hello @rahuls1071
I believe "Yes", but I will forward your question to our PHP engineers and they will answer you here in detail as soon as it is possible.
Thanks for using Okta!

[2021-08-10 12:21] vkhramtsov commented on #66
Any news here?

[2021-08-17 12:44] vkhramtsov commented on #66
@laura-rodriguez @bretterer php 8.0 was out 8 months ago, php 7.3 will reach EOL in 3 mohths, php 7.4 will be moved to security fixes only state in 3 moths. Do we have any chance to get version of package compatible with php 8.0? Currently this is only  package that prevent us from upgrade to php 8.0. Should we wait for update or it is beter to look for to another jwt verifier package?
Thank you i

[2021-08-19 22:23] walterecook opened #84 "UnexpectedValueException: "kid" invalid, unable to lookup correct key"
I have the Angular sample login. Pass that id_token into PHP.
PHP has the required libraries, calls the autoload.php properly.

$jwtVerifier = ( new \Okta\JwtVerifier\JwtVerifierBuilder() )
        ->setAdaptor( new \Okta\JwtVerifier\Adaptors\FirebasePhpJwt() )
        ->setClientId( '{myClientID}' )
        ->setAudience('api://default')
        ->setIssuer( 'https://myCompany.okta.com/oauth2/def

[2021-08-31 18:27] bryanapellanes-okta commented on #84
@walterecook,
Thanks for reaching out!  Please accept our apologies for the delayed response.  Our PHP developers will review and respond with more.

[2021-09-09 07:45] vkhramtsov commented on #66
@bretterer thank you for merging php 8 support to develop. Would you be so kind to create new release?
Thank you in advance.

[2021-09-09 16:56] vkhramtsov commented on #66
@bretterer Thank you for creating release.
@pmxjason looks like you can close this ticket.

[2021-09-10 07:30] #66 closed

[2021-09-14 13:12] convenient commented on #73
# Why the requests are slow

These requests are slow because (i think) the SSL handshake is slow, for us around 550ms.

[code]

[code]

Compare this to google

[code]

I would think Okta network people need to have a review and see what they can do to improve the connection time for requests outside their own network :/

# Improving the performance of this library

So there are three slow requests

[2021-09-16 11:48] convenient commented on #73
@RikkiMasters I am curious if your "300-500ms" are also because of the ssl handshake? Just good to get confirmation from someone else?

You can run the curl commands I detailed above to get some indication.

[2021-12-14 01:28] aaronpk opened #88 "Don't make client_id validation required"
Access token validation is done by a resource server, and it likely will not know the `client_id` of the client making the request ahead of time, such as when an API is used by an arbitrary number of OAuth clients in an organization. As such, it shouldn't be required to configure the library with a `client_id` before validating a token.

The Okta .NET and Java SDKs also don't require setting a `cl

[2022-01-03 13:31] jelrikvh opened #89 "Are there any plans for PHP 8.1 support in the near future?"
Hello,

When PHP 8.0 came out, we had to wait a long time for the simple `composer.json` update in this package. PHP 8.1 has been out for more than a month. What is the planning for the update to 8.1?

Would it be a possibility to add `^8.0` to the `composer.json`, so we don't have this problem with 8.2, 8.3, and 8.4 later on?

Thanks a lot,
Jelrik van Hal

[2022-01-03 19:31] bretterer commented on #89
@jelrikvh,

Thank you for the question about 8.1 update. I have brought this issue to our product team to investigate the upgrade and to find a place for it in our workload. Although this appears to be a pretty straight forward update in the composer file, we have a lot of things to make sure they still work in prior versions of PHP as well.  Please bear with us as we discuss this internally.

[2022-01-04 08:15] jelrikvh commented on #89
I understand there's more to test, but PHP 8.1 has been out for more than a month as a stable release and at least half a year before as beta and release candidates. I'm shocked that I have to be the one to put this on your backlog, as we pay money for the use of Okta, which is now impairing our ability to use the most secure, fast, and up-to-date tools available.

I would say: run your tests and

[2022-01-05 17:29] bretterer commented on #89
@jelrikvh We have released version 1.3.0 which includes updates to support PHP 8.1

Please let us know if you run into any issues.

[2022-01-05 17:29] #89 closed

[2022-02-01 13:59] roy-pon commented on #57
@bretterer any updates on this? Like to use this package with the default authorization server because we don't have a license for the API Access Management

[2022-02-01 20:18] bretterer commented on #57
Currently there is no update on this. The only way for this library to function correctly is to use API Access Management.

[2022-02-02 07:56] roy-pon commented on #57
Thanks for the quick response, any good sources I can use like another library or something like that by any change?

[2022-02-02 15:41] bretterer commented on #57
@roy-pon If you are looking for basic JWT validation, you can take a look at any of the great libraries listed at https://jwt.io/libraries?language=PHP

[2022-02-09 18:44] agawronski opened #92 "Understanding JwT verification - Expiration Time and Signature"
Thank you for your work on the okta-jwt-verifier-php.

I am trying to make sure that I am using this correctly:
[https://github.com/okta/okta-jwt-verifier-php#validating-an-access-token](https://urldefense.com/v3/__https:/github.com/okta/okta-jwt-verifier-php*validating-an-access-token__;Iw!!LUQEDAk!v4kg93ba6oUlpJRsW-UIq936VNT2BU2F8UVuOmM7jSrltqQ6JTZBZjr8F81l-egaD_keNvvJaSJl5dAuA0Ab0mJFbQ$)

`$jwt

[2022-02-09 23:33] arvindkrishnakumar-okta commented on #92
Thanks for posting @agawronski !

@bretterer can you please take a look?

[2022-02-10 14:07] Vilsafur opened #93 "firebase / php-jwt v6 incompatible"
Hi,

The new version of Firebase/php-jwt break okta-verify

https://github.com/firebase/php-jwt/releases/tag/v6.0.0

[2022-02-18 20:58] agawronski commented on #92
Any luck with this?

Does verifyAccessToken actually secure the app? or just decode the token?

[2022-03-01 18:25] #93 closed

[2022-03-02 17:20] agawronski commented on #57
@bretterer I think the every first thing on the READMIN should state that this doesn't work without custom authorization servers so that people don't waste there time.

[2022-03-02 19:27] agawronski commented on #57
https://github.com/okta/okta-jwt-verifier-php/pull/102

[2022-03-03 20:56] bretterer commented on #57
Merged into 1.4.0

Thank you!

[2022-03-03 20:56] #57 closed

[2022-03-04 23:28] #92 closed

[2022-06-08 15:59] nanofelis opened #107 "Make the cache ttl compatible with Symfony"
The cache used in the FirebaseJwtAdapter is not compatible with symfony/cache because it uses a Carbon date for the cache item TTL but Symfony only accepts an integer or a DateInterval.

https://github.com/symfony/cache/blob/364fc90734230d936ac2db8e897cc03ec8497bbb/CacheItem.php#L90
[code]

So we get the following exception when setting the TTL:
[code]

Pull Request : #106

[2022-08-11 12:02] artur-bartlinski opened #108 "Leeway is not working"
Hello,

After updating dependencies on a project I'm working on, I noticed the leeway is not working anymore, i.e. it always defaults to zero.

This is because the method `Okta\JwtVerifier\Adaptors\FirebasePhpJwt::decode() ` was updated in this commit https://github.com/okta/okta-jwt-verifier-php/commit/548c7d0ea9312e2934a79429609e585fa8df6aee .

The following line was removed:
`FirebaseJWT::$leew

[2022-10-26 05:47] selvaramj commented on #107
Yes, the same issue I'm also facing. Please, provide a solution for this issue.
<img width="875" alt="image" src="https://user-images.githubusercontent.com/60879114/197976486-e04ecebc-eff7-4aa8-9c0a-e846a35d991e.png">